.container {
  width: 300px;
  margin: 100px auto;
}

.addTweet {
  border-bottom: 2px solid rgba(40,40,40,1);
  padding-bottom: 25px;
}

.tweets {
  margin-top: 20px;

  .tweet {
    border: 2px solid rgba(146,191,191,1);
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 15px;

    span {
      float: right;
      cursor: pointer;
      color: white;
      background-color: red;
      padding: 2px 5px;
      border-radius: 5px;
    }
  }

}
